black==24.8.0
certifi==2025.6.15
charset-normalizer==3.4.2
click==8.1.8
colorama==0.4.6
idna==3.10
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
platformdirs==4.3.6
pyodbc==4.0.39
pytz==2025.2
pywin32==310
requests==2.32.4
tomli==2.2.1
typing_extensions==4.13.2
urllib3==2.2.3
win32com==0.0.1